/* header */
#navContent {
    justify-content: flex-end;
    /* find bs code */
}
/* side details */

/* main section */
/* .sections {
    height: 90vh;
    border: 0.1px solid black;
} */

.content-section {
    background: lavender;
    min-height: calc(100vh - 50px);
    padding: 2em;
    /* justify-content: ; */
    /* border: 5px solid rgb(133, 41, 41); */
}

@media screen and (min-width: 768px) {
    aside {
        height: calc(100vh - 50px);
        border-left: 1px solid #e5e5e5;
    }
}
@media screen and (max-width: 768px) {
    aside {
        height: calc(100vh - 50px);
        border-bottom: 1px solid #e5e5e5;
    }
}


.sidebar-content {
    background: cornflowerblue;
    padding: 1em;
}
