/* ========================================= */
/* ================= body  ================= */
/* ========================================= */

body {
    /* background-image: url(""); */
    background: radial-gradient(#cfcfcf, #928dbb);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    top: 0;
}

/* ========================================= */
/* ================ nav bar ================ */
/* ========================================= */

/* Color of the links BEFORE scroll */
.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler-icon,
.navbar-scroll .navbar-brand {
    color: #fff;
}

/* Color of the links AFTER scroll */
.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler-icon,
.navbar-scrolled .navbar-brand {
    color: #fff;
}

/* Color of the navbar AFTER scroll */
.navbar-scroll,
.navbar-scrolled {
    background-color: #cbbcb1;
}

.navbar-brand {
    font-size: large;
    letter-spacing: 3px;
}

/* class names:
    - nav-mail1
    - nav-mail2
    - nav-linkedin
    - nav-github

*/

/* ========================================= */
/* ================ sidebar ================ */
/* ========================================= */

@media screen and (min-width: 768px) {
    aside {
        height: calc(100vh - 50px);
        border-left: 1px solid #e5e5e5;
    }
}
@media screen and (max-width: 768px) {
    aside {
        height: calc(100vh - 50px);
        border-bottom: 1px solid #e5e5e5;
    }
}

.sidebar-content {
    background: cornflowerblue;
    padding: 1em;
}

/* ========================================= */
/* ============= main sections ============= */
/* ========================================= */

.content-section {
    background: none;
    min-height: calc(100vh - 50px);
    padding: 2em;
    height: 90% !important;
}

.sec-content {
    height: 95%;
}

/* .sec-content */

/* ============= about section ============= */

/* 
.sec-content-about
.about-edit 
.other-skills
*/

/* ============ skills section  ============ */

/* 
.sec-content-skills 
.prog-skills -> progress bars programming skills
.tools-skills -> progress bars tools skills
.other-skills -> progress bars other skills
*/

/* ========== Experience section  ========== */

.sec-content-experience {
    height: 55vh;
}

/* 
.experience-cards-edit
*/

/* =========== projects section  =========== */

.cs-img-bg, .im-img-bg{
    height: 55vh;
    max-width: 20vw;

}

.proj-cards-container {
    height: 55vh;
}

.cs-card, .im-card {
    max-height: 100% !important;
}

.card-proj-body {
    color: white;
    height: 50vh;
    cursor: pointer;
}
/* 
.sec-content-projects

*/

/* ============== end section ============== */

/* ========================================= */
/* ============ general effects ============ */
/* ========================================= */

.hover-zoom:hover {
    transform: scale(1.02);
    transition: transform 0.5s ease;
}

.mask-custom {
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.15);
}

.smaller-text {
    font-size: 12px;
}

.custom-modal .modal-content {
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.15);
}
