html,
body {
    background-color:  transparent;
    color: #fff;
    /* dot cursor */
    cursor: url("cursor.png"), auto !important;
    
    /* cursor: none !important; */
}

.App {
    text-align: center;
    background-color: transparent;
    color: #fff;
    margin-top: 10vh;
}

.blue-bg {
    background-color: transparent;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: transparent;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #ffffff;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.hover-zoom:hover {
    transform: scale(1.05); /* Increase the size on hover */
    transition: transform 0.3s ease; /* Add a smooth transition effect */
}

.mask-custom {
    backdrop-filter: blur(5px);
    background-color: transparent;
}
.modal-content {
    /* this has all content of modal content class with edits */
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--bs-modal-color);
    pointer-events: auto;
    /* background-color: transparent;
    background-clip: padding-box;
    /* border: var(--bs-modal-border-width) solid var(--bs-modal-border-color); */
    border-radius: var(--bs-modal-border-radius);
    outline: 0;
    backdrop-filter: blur(5px) !important;
    background-color: transparent;
}

h1 {
    font-size: calc(2rem + 2.5vw) !important;
}

h2 {
    font-size: calc(1.5rem + 1.9vw) !important;
}

/* BG */

@import url("https://fonts.googleapis.com/css?family=Montserrat:700");
.hero {
    background-color:  #262442;
    position: fixed;
    background-attachment: fixed;
    /* background-size: cover; */
    height: 100vh;
    overflow: none !important;
    font-family: "Montserrat", sans-serif;
    z-index: -1;
}

.cube {
    position: absolute;
    top: 80vh;
    left: 45vw;
    width: 10px;
    height: 10px;
    border: solid 1px #003298;
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    -webkit-animation: cube 12s ease-in forwards infinite;
    animation: cube 12s ease-in forwards infinite;
}
.cube:nth-child(2n) {
    border-color: #0051f4;
}
.cube:nth-child(2) {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    left: 25vw;
    top: 40vh;
}
.cube:nth-child(3) {
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
    left: 75vw;
    top: 50vh;
}
.cube:nth-child(4) {
    -webkit-animation-delay: 6s;
    animation-delay: 6s;
    left: 90vw;
    top: 10vh;
}
.cube:nth-child(5) {
    -webkit-animation-delay: 8s;
    animation-delay: 8s;
    left: 10vw;
    top: 85vh;
}
.cube:nth-child(6) {
    -webkit-animation-delay: 10s;
    animation-delay: 10s;
    left: 50vw;
    top: 10vh;
}

@-webkit-keyframes cube {
    from {
        transform: scale(0) rotate(0deg) translate(-50%, -50%);
        opacity: 1;
    }
    to {
        transform: scale(20) rotate(960deg) translate(-50%, -50%);
        opacity: 0;
    }
}

@keyframes cube {
    from {
        transform: scale(0) rotate(0deg) translate(-50%, -50%);
        opacity: 1;
    }
    to {
        transform: scale(20) rotate(960deg) translate(-50%, -50%);
        opacity: 0;
    }
}

.bg {
    width:100vw;
    height:100vw;
    background-color: hsl(240, 30%, 15%);
    position:fixed;
    top:0;
}

.root{
    background: transparent;
    background-color: transparent;
    z-index: 1;
}
/* bg */
